
body{
  background-color: rgb(221, 221, 221);
  left: 40%;
  /* left: 20%; */
  /* right: 20%; */
  position: absolute;
}

fieldset {
  background-color: white;
  min-width: 250px;
  margin: 5px;
  /* float: left; */
}

legend{
  text-align: center;
}

/*  --------------------quest 5-------------------- */
#gitAvatar{
  margin-top: 10px;
}
.gitInfo{
  text-align: center;
}

/*  --------------------quest 6-------------------- */
.Header{
  text-align: center;
  background-color: red;
  color: white;
  margin: 1%;
}

.Content{
  text-align: center;
  background-color: blue;
  color: white;
  margin: 1%;
  width: 70%;
  min-height: 20ex;
  float: left;
}

.Aside{
  text-align: center;
  background-color: green;
  color: white;
  margin: 1%;
  width: 26%;
  min-height: 20ex;
  float: left;
}

.Footer{
  text-align: center;
  background-color: blueviolet;
  color: white;
  margin: 1%;
}

.clearfix::after {
  content: " ";
  clear: both;
  display: table;
}

/*  --------------------quest 7-------------------- */
.cardField{
  text-align: end;
  text-align: -webkit-right;
}

#searchAgenda{
  margin-top: 10px;
  margin-bottom: 10px;
}